

<div class="container-fluid col-md-8 col-md-offset-2 panel panel-default" style="border: 2px solid #aba2ab;, border-radius: 10px 10px 10px 10px;, box-shadow: 7px 9px 21px 0px #b1bfc2;">
  <div class="content-wrapper "> 
    
    <div class="item-container">  
      
          <div class="product col-md-8 col-md-offset-2  panel-heading">
                    
            <center>

              <%= image_tag(@product.image_url, class: "img-responsive img-zoom", style: "width: 300px;" "height: 300px;", data_zoom_image: "@product.image_url") %>
            </center>
          </div>
          
        </div>
          
        <div class="col-md-8 col-md-offset-2">
          <div class="product-title text-left">
            <h4>
              <strong>Name:</strong>
              <%= @product.name %>
            </h4>
          </div>
          <div class="text-left product-desc">
            <h5>
              <%= @product.description %>
            </h5>
          </div>
          <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
          <hr>
          <div class="product-price text-left">
            <h4>    
              <strong>Price: </strong><%= @product.price %>
            </h4>
          </div>
          <div class="product-color text-left">
            <h4>    
              <strong>Color: </strong><%= @product.color %></div>
            </h4>
          <hr>
          <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
          <br>
          <%= form_tag("/payments/create", remote: true) do %>
            <%= render partial: "products/stripe_checkout_button" %>
            
            <%= hidden_field_tag(:product_id, @product.id) %>
            <input type="hidden" value="<%= form_authenticity_token() %>"name="authenticity_token"/>
          <% end %>
          
          <br>
          <div class="btn-group wishlist">
            <button type="button" class="btn btn-danger">
              Add to wishlist 
            </button>
          </div>
          <br>
          <br>
          <%= link_to 'Edit', edit_product_path(@product) %> |
          <%= link_to 'Back', products_path %>
        </div>
        </div>

          
        <br>    
        <br>
      <%= render partial: 'new_comment' %>

      <br>    
      <br>

      <%= render partial: "comments" %>

      <%= will_paginate @comment %>

    <!-- 
    <div class="col-md-8 col-md-offset-2 container-fluid">   
      <div class="product-info">
          <ul id="myTab" class="nav nav-tabs nav_tabs">
            
            <li class="active"><a href="#service-one" data-toggle="tab">DETAILS</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
            <li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>
            
          </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">
             
              <h5 class="container product-info col-md-8 col-md-offset-2">
                <%= @product.description %>
              </h5>
              <br>
              <br>        
            </div>
        </div>

      </div>
    </div>
    

    
  </div>
</div>
-->


