<!DOCTYPE html>
<html>
<head>
  <title>Shooter Golf</title>
  <link rel="stylesheet" type="text/css" href="..app/assets/stylesheets/application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
	<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #859398;">
  		<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
   			 <div class="navbar-header">
      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
       				<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      				<a class="navbar-brand" href="#"><%= image_tag("golfi.jpg", width: "20px", height: "20px", color: "white")%></a>
    		</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li role="presentation"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li role="presentation"><a href="/static_pages/about">About</a></li>
        <li role="presentation"><a href="/products">Products</a></li>
        <li role="presentation"><a href="/static_pages/contact">Contact</a></li>
        <ul class="nav pull-right" style="padding-top: 10px;">
          <li>
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
            <%= link_to('Login', new_user_session_path) %>
          <% end %>
          </li>
        </ul>
      </ul>
      <%= form_tag("/products", method: "get", :role => 'search', :class => 'navbar-form navbar-right form-control') do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q)%>
        <%= submit_tag("Search", :type => 'submit', :class => 'btn btn-info btn-sm') %>
      <% end %>

      
     </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

	<footer class="footer">
		<div class="container-footer">
			<p class="text-muted">&copy; 2016 Shooter Golf</p>	
		</div>
	</footer>
</body>
</html>
